<div
  class="container-fluid bg-gray"
  *ngIf="loggedIn && currentUser !== undefined"
>
  <div class="row section">
    <div class="col-lg-3 mb-lg-0 mb-2">
      <div class="my-3 d-flex align-items-center">
        <img
          class="rounded-circle"
          [src]="
            currentUser.image.substring(0, 4) === 'http'
              ? currentUser.image
              : apiURL + currentUser.image
          "
          [alt]="currentUser.name"
          width="50px"
          onerror="this.onerror=null; this.src='assets/default-avatar.png'"
        />
        <div class="mt-4 mx-2">
          <h5 class="fw-bold">{{ currentUser.name }}</h5>
          <p class="text-muted">@{{ currentUser.email.split("@")[0] }}</p>
        </div>
      </div>
      <div class="list-group" *ngIf="currentUser.role.toLowerCase() === 'user'">
        <a
          class="list-group-item list-group-item-action fw-bold border-bottom-2"
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi bi-speedometer2 me-3"></i>Dashboard
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/orders"
          routerLinkActive="active"
        >
          <i class="bi bi-bag-check me-3"></i>Your Orders
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/profile"
          routerLinkActive="active"
        >
          <i class="bi bi-person me-3"></i>Your Profile
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/settings"
          routerLinkActive="active"
        >
          <i class="bi bi-gear me-3"></i>Settings
        </a>
        <button
          class="list-group-item list-group-item-action fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#logOutModal"
        >
          <i class="bi bi-box-arrow-right me-3"></i>Log Out
        </button>
      </div>
      <div
        class="list-group"
        *ngIf="currentUser.role.toLowerCase() === 'staffuser'"
      >
        <a
          class="list-group-item list-group-item-action fw-bold border-bottom-2"
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi bi-speedometer2 me-3"></i>Dashboard
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/products"
          routerLinkActive="active"
        >
          <i class="bi bi-bag-check me-3"></i>Manage Products
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/categories"
          routerLinkActive="active"
        >
          <i class="bi bi-diagram-2 me-3"></i>Manage Categories
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/orders"
          routerLinkActive="active"
        >
          <i class="bi bi-cart me-3"></i>Manage Orders
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/coupons"
          routerLinkActive="active"
        >
          <i class="bi bi-cash me-3"></i>Manage Coupon Codes
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/profile"
          routerLinkActive="active"
        >
          <i class="bi bi-person me-3"></i>Your Profile
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/settings"
          routerLinkActive="active"
        >
          <i class="bi bi-gear me-3"></i>Settings
        </a>
        <button
          class="list-group-item list-group-item-action fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#logOutModal"
        >
          <i class="bi bi-box-arrow-right me-3"></i>Log Out
        </button>
      </div>
      <div
        class="list-group"
        *ngIf="currentUser.role.toLowerCase() === 'superuser'"
      >
        <a
          class="list-group-item list-group-item-action fw-bold border-bottom-2"
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi bi-speedometer2 me-3"></i>Dashboard
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/users"
          routerLinkActive="active"
        >
          <i class="bi bi-people me-3"></i>Manage Users
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/products"
          routerLinkActive="active"
        >
          <i class="bi bi-bag-check me-3"></i>Manage Products
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/categories"
          routerLinkActive="active"
        >
          <i class="bi bi-diagram-2 me-3"></i>Manage Categories
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/orders"
          routerLinkActive="active"
        >
          <i class="bi bi-cart me-3"></i>Manage Orders
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/coupons"
          routerLinkActive="active"
        >
          <i class="bi bi-cash me-3"></i>Manage Coupon Codes
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/profile"
          routerLinkActive="active"
        >
          <i class="bi bi-person me-3"></i>Your Profile
        </a>
        <a
          class="list-group-item list-group-item-action fw-bold"
          routerLink="/dashboard/settings"
          routerLinkActive="active"
        >
          <i class="bi bi-gear me-3"></i>Settings
        </a>
        <button
          class="list-group-item list-group-item-action fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#logOutModal"
        >
          <i class="bi bi-box-arrow-right me-3"></i>Log Out
        </button>
      </div>
    </div>
    <div class="col-lg-9 my-5">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="logOutModal"
  tabindex="-1"
  aria-labelledby="logOutModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logOutModalLabel">Log Out</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure that you want to Log Out?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Cancel
        </button>
        <a
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          routerLink="/logout"
        >
          Log Out
        </a>
      </div>
    </div>
  </div>
</div>
