<div class="bg-gray">
  <div class="container">
    <div class="row section">
      <div class="col-lg-6 my-auto order-1">
        <h1>Over ons</h1>
        <br />
        <p>
          Cards & Dice is een webshop voor alle tabletop games. Bordspellen, Dobbelspellen, Kaartspellen (TCG), Rollenspellen en nog meer! Het is een webshop, voor hobbyisten, door hobbyisten, waar alles draait om de beste ervaring, een gezellige avond uit of thuis en niet om het geld!
        </p>
        <br />
        <button class="btn btn-primary">Start nu met winkelen!</button>
      </div>
      <div class="col-lg-6 my-auto">
        <img src="assets/cd-logo.png" class="aligncenter" width="100%" />
      </div>
    </div>
  </div>
</div>
