<div class="bg-gray">
  <div class="container">
    <div class="row section">
      <div class="col-lg-6 my-auto order-1">
        <h1>About Us</h1>
        <br />
        <p>
          Cards & Dice is a webshop for all tabletop games. Board Games, Dice
          Games, Card Games (TCG), Role Playing Games and more! It is a webshop,
          for hobbyists, by hobbyists, where everything revolves around the best
          experience, a pleasant evening out or at home and all that for a fair
          price!
        </p>
        <br />
        <button class="btn btn-primary">Start Shopping Now</button>
      </div>
      <div class="col-lg-6 my-auto">
        <img src="assets/cd-logo.png" class="aligncenter" width="100%" />
      </div>
    </div>
  </div>
</div>
