<div class="card p-2 w-100 mx-auto mx-sm-2">
  <a [routerLink]="'/products/' + this.product._id">
    <div class="text-center">
      <img
        [src]="this.apiEndpoint + '/' + this.product.image"
        class="img-fluid rounded"
        width="200"
      />
    </div>
  </a>
  <div class="content">
    <a [routerLink]="'/products/' + this.product._id">
      <div class="d-flex justify-content-between align-items-center">
        <span class="category text-dark">{{ this.product.title }}</span>
        <span class="price">{{ currency }}{{ this.product.price }}</span>
      </div>
      <p class="text-muted">Cards & Dice</p>
    </a>
    <div class="buttons d-flex"></div>
    <button
      class="btn btn-primary btn-sm w-100"
      (click)="addToCart(product)"
      *ngIf="!this.hasOrder"
    >
      Add to Cart
    </button>

    <div
      class="d-flex align-items-center justify-content-center"
      *ngIf="this.hasOrder"
    >
      <button class="btn btn-primary p-0" (click)="addToCart(product)">
        <i class="bi bi-plus"></i>
      </button>
      <h5 class="h5 mx-4">{{ this.quantity }}</h5>
      <button
        class="btn btn-primary p-0"
        (click)="decrementProductQuantity(product)"
      >
        <i class="bi bi-dash"></i>
      </button>
    </div>
  </div>
</div>
